@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "Marcellus";
  src: url("/fonts/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MeieScript";
  src: url("/fonts/MeieScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* ----- FONTS ----- */
  --font-marcellus: "Marcellus", serif;
  --font-meie: "MeieScript", cursive;
  --font-worksans: "WorkSans", sans-serif;

  /* ----- COLORS ----- */
  --color-mainWhite: #f6f6f6;
  --color-mainBlack: #1a1a1a;
  --color-mainLightPurple: #b8bdeb;
  --color-mainDarkPurple: #9fa6e6;
  --color-additionalBlue: #818bec;
  --color-additionalBlack: #0f0f0f;
}
